<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.net
	http://www.springframework.net/xsd/spring-objects.xsd">
	
	<!-- Transaction Proxy base para todos los Services -->
	<object id="baseTransactionProxy" type="Spring.Transaction.Interceptor.TransactionProxyFactoryObject" abstract="true">
		<property name="platformTransactionManager" ref="hibernateTransactionManager"/>
		<property name="transactionAttributes">
			<name-values>
				<add key="*" value="PROPAGATION_REQUIRED"/>
			</name-values>
		</property>
	</object>

	<object id="usuarioServiceTarget" type="Zonica.Services.UsuarioService, Zonica.Services">
		<property name="usuarioDao" ref="usuarioDao"/>
	</object>
	<object id="usuarioService" parent="baseTransactionProxy">
		<property name="target" ref="usuarioServiceTarget"/>
	</object>

	<object id="musicaServiceTarget" type="Zonica.Services.MusicaService, Zonica.Services">
		<property name="musicaDao" ref="musicaDao"/>
	</object>
	<object id="musicaService" parent="baseTransactionProxy">
		<property name="target" ref="musicaServiceTarget"/>
	</object>

	<object id="localidadServiceTarget" type="Zonica.Services.LocalidadService, Zonica.Services">
		<property name="localidadDao" ref="localidadDao"/>
	</object>
	<object id="localidadService" parent="baseTransactionProxy">
		<property name="target" ref="localidadServiceTarget"/>
	</object>

	<object id="escuchaServiceTarget" type="Zonica.Services.EscuchaService, Zonica.Services">
		<property name="escuchaDao" ref="escuchaDao"/>
		<property name="usuarioService" ref="usuarioService"/>
		<property name="musicaService" ref="musicaService"/>
	</object>
	<object id="escuchaService" parent="baseTransactionProxy">
		<property name="target" ref="escuchaServiceTarget"/>
	</object>

	<object id="contactoServiceTarget" type="Zonica.Services.ContactoService, Zonica.Services">
		<property name="contactoDao" ref="contactoDao"/>
	</object>
	<object id="contactoService" parent="baseTransactionProxy">
		<property name="target" ref="contactoServiceTarget"/>
	</object>
</objects>
 
